# Sources

* HTML basics:
    * https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics

In [ ]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

# Overview

## Introduction

### Requirements

### Motivation

### Learning Objectives

* Tools
    * Pandas
        * For Data storage
        * Also for "scraping"
    * Requests/BeautifulSoup4/LXML
        * For scraping (DUH)

# Land Acknowledgement

# Ethics Of Web-Scraping

* Am I allowed to access this data? 
    * https://www.chefknivestogo.com/robots.txt
* Can the site handle my requests?
    * https://www.nrcs.usda.gov/robots.txt
* Can I use it in my research? What can I use it for?
    * https://meta.wikimedia.org/wiki/Terms_of_use

# Actual Tutorial

# Background: Functions, Data Types, and Pandas

## Functions

In [37]:
def my_func(param):
    print(param + 5)
    
my_func(10)

def my_second_func(parameter):
    '''
    You can add a function description here - this is called a docstring!
    '''
    print(parameter + 7.5)
    

my_second_func(12)

15
19.5

## Data Types

### list

* Store multiple items (elements) in a single variable. 
* Elements are separated by commas.
* 

Note that indices start at 0 in Python!

In [ ]:
# initialize a list
ex_list1 = [0, 1, 2]

# print the list
print("The 1st element of ex_list1 is", ex_list1[0])

# print length of a list
print("List Length:", len(ex_list1))

# lists can contain 
ex_list2 = ["Three", [4,5]]

# add two lists together 
ex_added_list = ex_list1 + ex_list2
print(ex_added_list)


# add an element to a list
ex_added_list.append('new element!')
print(ex_added_list)


# LIST COMPREHENSION! very useful, allows us to easily filter and modify lists
# the structure is generally []
#this is equivalent to "for loops" that some of you are familiar with from other languages

#this just duplicates the same list
print('list comprehension duplicate output:', [elmnt for elmnt in ex_added_list])

# we can use list comprehension to only keep integers (rather than the string "Three" or the list [4,5])
filtered_ex_added_list = [entry for entry in ex_added_list if type(entry)==int]
print('filtered_list = ', filtered_ex_added_list)

# we can also use list comprehension to easily modify lists
filtered_ex_added_list_plus_5 = [x+5 for x in filtered_ex_added_list]
print('after adding 5 to each:', filtered_ex_added_list_plus_5)


# list() syntax (turning things into lists, like dict.values)

# explain joining list

### str

In [ ]:
# discuss splitting strings (str.split()), by space and by character

### Dict

In [52]:
test_dict = {'a':1, 'second element':2}

print(test_dict['a'])

test_dict[3] = "third entry"

print(test_dict)

print(test_dict[1])

print(test_dict.keys())

print(test_dict.values())

# print(test_dict.values()[0])
print(list(test_dict.values())[0])

1
{'a': 1, 'second element': 2, 3: 'third entry'}
dict_keys(['a', 'second element', 3])
dict_values([1, 2, 'third entry'])
1

### Set

## Pandas

https://pandas.pydata.org/pandas-docs/stable/index.html

### DataFrame

In [45]:
# initialize a dataframe from a dictionary with two lists
test_df = pd.DataFrame({'a column': [1,2,3], 'another column': ['a', 'b', 'c']})
test_df

   a column another column
0         1              a
1         2              b
2         3              c

In [46]:
# get "a column"
test_df['a column']

0    1
1    2
2    3
Name: a column, dtype: int64

In [47]:
# get the first row (remember indexing starts at 0 in Python!)
test_df.iloc[0]

a column          1
another column    a
Name: 0, dtype: object

In [48]:
# get "a columns" 's first element
test_df['a column'].iloc[0]

1

In [49]:
# add a new column
test_df['new col'] = [4,5,6]
test_df

   a column another column  new col
0         1              a        4
1         2              b        5
2         3              c        6

In [53]:
# add another new column - with mixed datatypes
test_df['new col2'] = ['new1', test_dict, [1,2]]
test_df

,a column,another column,new col,new col2
0,1,a,4,new1
1,2,b,5,"{'a': 1, 'second element': 2, 3: 'third entry'}"
2,3,c,6,"[1, 2]"

In [54]:
# apply a function to a column (very useful!)
def test_fnc_for_df(row_element):
    return type(row_element)

test_df['new col2'].apply(test_fnc_for_df)

0     <class 'str'>
1    <class 'dict'>
2    <class 'list'>
Name: new col2, dtype: object

# Web Scraping

## Import Necessary packages

In [4]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

import lxml
import lxml.html
import cssselect
from datetime import datetime
from selenium import webdriver
import time

import nltk

## pd.read_html() - USDA FIPS

In [ ]:
# import data from USDA. Output is a LIST of tables
usda_fips_page = pd.read_html("https://www.nrcs.usda.gov/wps/portal/nrcs/detail/national/home/?cid=nrcs143_013697")

In [ ]:
# print output to see what we have...
usda_fips_page

In [ ]:
# Strange output!
usda_fips_page[0]

In [ ]:
# looks like the first few dataframes are identical... this is strange but we only need one so it isn't a problem!
usda_fips_page[1]

In [ ]:
# make variable for fips table we want
usda_fips = usda_fips_page[0]

In [ ]:
# let's examine the dataframe more closely to make sure everything is correct

# change display options to show all rows
pd.set_option('display.max_rows', None)

usda_fips

In [ ]:
# it looks like the last row is the only incorrect one, so let's delete it
usda_fips.tail()

In [ ]:
# Let's confirm there are no other rows we need to drop. Check for nan values in any col pt. 1
usda_fips.isnull()

In [ ]:
# Check for nan values in any col pt. 2
usda_fips.isnull().sum()

In [ ]:
# drop the last row

# this is the output we want
usda_fips.drop(3232)

# now replace the existing "usda_fips" dataframe with the version missing the last row (inplace=True)
usda_fips.drop(3232, inplace=True)

## pd.read_html() -  FIPS

In [ ]:
# import data from wikipedia. Again, output is a LIST of tables
fips_page = pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_FIPS_codes_by_county")

In [ ]:
# let's print the output and take a look...
fips_page

In [ ]:
# first element?
fips_page[0]

In [ ]:
fips_page[1]

In [ ]:
# we want the 2nd table (recall: indices start at 0)
fips = fips_page[1]

# remove all hyperlinks (these look like "... County [h]", etc.)
fips['County or equivalent'] = fips['County or equivalent'].str.replace(r"\[.*\]","")

# convert to uppercase
fips['County or equivalent'] = fips['County or equivalent'].apply(lambda x: x.upper())
fips['State or equivalent'] = fips['State or equivalent'].apply(lambda x: x.upper())

# replace "St." with "Saint"
fips['County or equivalent'] = [x.replace('ST.','SAINT') for x in fips['County or equivalent']]

# remove everything after a comma in a county name (e.g. "ANCHORAGE, MUNICIPALITY OF")
fips['County or equivalent'] = [x.split(',')[0] for x in fips['County or equivalent']]

# replace DC info to correspond to GeoCov19 format
dc_loc = fips[fips['County or equivalent']=='DISTRICT OF COLUMBIA'].index.tolist()[0]
fips['State or equivalent'].loc[dc_loc] = 'WASHINGTON, D.C.'
fips['County or equivalent'].loc[dc_loc] = 'WASHINGTON'

############################################################################################

# Save FIPS dataframe to file

FIPS_SAVE_PATH = 

fips.to_csv(FIPS_SAVE_PATH, index=False)

## Request  + BeautifulSoup

 Red-bellied Snake (Wikipedia) Text Analysis

### Red-bellied Snake (Wikipedia) Text Analysis

Hypothetical: we want to get a list of all words, and their frequency, from this wikipedia page

In [ ]:
# use requests to get URL
wiki_snake_url = "https://en.wikipedia.org/wiki/Red-bellied_black_snake"
wiki_snake_response = requests.get(wiki_snake_url)

# it prints "200" if the page was successfully downloaded!
print(wiki_snake_response)

In [ ]:
#let's examine the output... which turns out to be a mess (this is where BeautifulSoup comes in handy)
wiki_snake_response.text

In [ ]:
# use BeautifulSoup's html parser to convert the html document into a BeautifulSoup object
wiki_snake_soup = BeautifulSoup(wiki_snake_response.text, 'html.parser')

# BeautifulSoup gives us a more readable format (barely - it doesn't make a huge difference in this example)
wiki_snake_soup.prettify()

In [ ]:
# we need to display the text! Let's get all elements with a "p" (paragraph) tag 

# print([paragraph.text for paragraph in wiki_snake_soup.find_all('p')])

# this shows us all html with a "p" tag (paragraphs), but we just want the text
for paragraph in wiki_snake_soup.find_all('p'):
    print(paragraph)

In [ ]:
# here is how we display the pure text

for paragraph in wiki_snake_soup.find_all('p'):
    print(paragraph.text)

In [ ]:
# we're almost there, we just need to combine this output (we'll use list comprehension)

wiki_snake_text = ' '.join([paragraph.text for paragraph in wiki_snake_soup.find_all('p')])

wiki_snake_text
#[paragraph.text for paragraph in wiki_snake_soup.find_all('p')] is a list!

# #this is equivalent to the following code which some might find more familiar:
# wiki_snake_text_list = []

# for paragraph in wiki_snake_soup.find_all('p'):
#     wiki_snake_text_list.append(paragraph)
    
# wiki_snake_text = ' '.join(wiki_snake_text)

In [ ]:
# ' '.join(wiki_snake_text.split())

In [ ]:
# now let's count occurences of each word
# import nltk

nltk.FreqDist(wiki_snake_text)

In [ ]:
# looks like we need to split the text first:
split_wiki_snake_text = wiki_snake_text.split()

In [ ]:
wiki_snake_word_freqs = nltk.FreqDist(split_wiki_snake_text)

In [ ]:
wiki_snake_word_freqs

In [ ]:
wiki_snake_output = pd.DataFrame({'Word': wiki_snake_word_freqs.keys(), 'Frequency': wiki_snake_word_freqs.values()})

In [ ]:
wiki_snake_output

In [ ]:
wiki_snake_output.sort_values('Frequency', ascending=False, inplace=True)

In [ ]:
wiki_snake_num_words = wiki_snake_output['Frequency'].sum()

In [ ]:
wiki_snake_output['% Freq'] = (wiki_snake_output['Frequency'] / wiki_snake_num_words) * 100

In [ ]:
wiki_snake_output

In [ ]:
wiki_snake_output.to_csv("Red Bellied Snake Words & Frequencies.csv")

## Request  + BeautifulSoup - lichess.org user stats

Let's get the information of every top "bullet" chess player

Our approach:
* Get the list of top bullet players
    * Listed at https://lichess.org/player/top/200/bullet
* Go to each player's account
    * Account page URLs have the following structure: "https://lichess.org/@/" + username
* Get the information we need and compile it into a pandas DataFrame
    * Do this by writing several functions to get specific pieces of information
    
* Save the dataframe as a .csv file

In [28]:
# here are the top bullet players: https://lichess.org/player/top/200/bullet

# scrape this table!
players_df_list = pd.read_html("https://lichess.org/player/top/200/bullet")

# let's see the output:
players_df_list

[       0                     1     2     3
 0      1     GM nihalsarin2004  3101  25.0
 1      2         GM C9C9C9C9C9  3068  21.0
 2      3    GM Zhigalko_Sergei  3051  26.0
 3      4           GM muisback  3018  15.0
 4      5             GM Arka50  3016  29.0
 ..   ...                   ...   ...   ...
 195  196         GM elshan1985  2780  28.0
 196  197  GM tornike_sanikidze  2780  17.0
 197  198        Hellblazer2007  2780  30.0
 198  199             Likonendy  2779   3.0
 199  200           FM Kaldas90  2778   2.0

 [200 rows x 4 columns]]

In [29]:
# looks like we only need/want the first dataframe in this list (turns out there's only one anyway)
players_df = players_df_list[0]

In [30]:
players_df

       0                     1     2     3
0      1     GM nihalsarin2004  3101  25.0
1      2         GM C9C9C9C9C9  3068  21.0
2      3    GM Zhigalko_Sergei  3051  26.0
3      4           GM muisback  3018  15.0
4      5             GM Arka50  3016  29.0
..   ...                   ...   ...   ...
195  196         GM elshan1985  2780  28.0
196  197  GM tornike_sanikidze  2780  17.0
197  198        Hellblazer2007  2780  30.0
198  199             Likonendy  2779   3.0
199  200           FM Kaldas90  2778   2.0

[200 rows x 4 columns]

In [31]:
# column 0 is the user's ranking, and column 3 is their recent rating change. we aren't interested in either, so let's delete them
del players_df[0], players_df[3]

players_df

                        1     2
0       GM nihalsarin2004  3101
1           GM C9C9C9C9C9  3068
2      GM Zhigalko_Sergei  3051
3             GM muisback  3018
4               GM Arka50  3016
..                    ...   ...
195         GM elshan1985  2780
196  GM tornike_sanikidze  2780
197        Hellblazer2007  2780
198             Likonendy  2779
199           FM Kaldas90  2778

[200 rows x 2 columns]

In [32]:
# now let's rename the columns to more helpful labels
players_df.rename(columns={1:'User', 2:'Rating'})

                     User  Rating
0       GM nihalsarin2004    3101
1           GM C9C9C9C9C9    3068
2      GM Zhigalko_Sergei    3051
3             GM muisback    3018
4               GM Arka50    3016
..                    ...     ...
195         GM elshan1985    2780
196  GM tornike_sanikidze    2780
197        Hellblazer2007    2780
198             Likonendy    2779
199           FM Kaldas90    2778

[200 rows x 2 columns]

In [33]:
players_df.rename(columns={1:'User', 2:'Rating'}, inplace=True)

In [55]:
# url of first user's account
# "https://lichess.org/@/" + ' '.join(players_df['User'].iloc[0].split())
"https://lichess.org/@/" + players_df['User'].iloc[0]

'https://lichess.org/@/GM\xa0nihalsarin2004'

In [58]:
# replace "/xa0"

def replace_xa0(username):
    '''
    input = a player's username (string)
    output = a player's username, with "\xa0" replaced by " "
    '''
    return username.replace("\xa0", " ")

# apply this function to our dataframe
## first, let's check to see that it returns the right output
players_df['User'].apply(replace_xa0)

## looks good (or at least not harmful), so let's replace the username
players_df['User'] = players_df['User'].apply(replace_xa0)

In [59]:
# retry printing url of first user's account

"https://lichess.org/@/" + players_df['User'].iloc[0]

'https://lichess.org/@/GM nihalsarin2004'

In [ ]:
# we need to split the "User" column, otherwise we get urls like "https://lichess.org/@/GM RebeccaHarris" instead of "https://lichess.org/@/RebeccaHarris"

def get_user(title_user_str):
    """
    title_user_str looks like "GM RebeccaHarris" or "Shprot86"
    """
    if len(title_user_str.split()==2):    #if the user is titled (has two words in their user field, rather than one)
        return title_user_str.split()[1]   #return their USERNAME
    else:    # if the user is not titled (has one word in their user field)
        return title_user_str    #return the input string, since it is already their username without a title


def get_title(title_user_str):
    """
    title_user_str looks like "GM RebeccaHarris" or "Shprot86"
    """
    if len(title_user_str.split()==2):    #if the user is titled (has two words in their user field, rather than one)
        return title_user_str.split()[0]   #return their TITLE
    else:    # if the user is not titled (has one word in their user field)
        return  np.nan    #return a missing value



# def split_name_from_title(title_user_str):    
#     """
#     title_user_str looks like "GM RebeccaHarris" or "Shprot86"
#     """
#     if len(title_user_str.split()==2):    #if the user is titled (has two words in their user field, rather than one)
#         return title_user_str.split()
#     else:    # if the user is not titled (has one word in their user field)
#         return ((np.nan, title_user_str))
    
    
players_df['Username'] = players_df['User'].apply(split_name_from_title)

In [ ]:
players_df

In [ ]:
# players_df['Title'] = players_df['User'].str.split('\xa0').str[0]

# players_df['User'] = players_df['User'].str.split('\xa0').str[1]

In [ ]:
pd.set_option('display.max_rows', 200)

players_df

In [ ]:
import time

# define function
def get_user_info(lichess_user_id):
    print(user_ID)
    
    player_url = "https://lichess.org/@/" + user_ID
    print(player_url)
    
    player_response = requests.get(player_url)
    
    player_soup = BeautifulSoup(player_response.text, 'html.parser')
    
    join_date = get_join_date(player_soup=player_soup)
    
    time_spent_online = get_time_spent_online(player_soup=player_soup)
    
    followers = get_num_followers(player_soup=player_soup)

# apply function
for user_ID in [players_df['User'].iloc[0]]:
  
    get_user_info(user_ID)

    time.sleep(.5)

In [ ]:
# let's get their join date
member_since = player_soup.select('.thin:nth-child(1)')

# let's see its format
print(member_since)

# we need to get the text from here and clean it
# member_since.text

# we forgot that member_since is a list! (even though it just has one element, it's' still a list).
# let's get the text from its only element:
print([x.text for x in member_since])

# great! we just need to clean this to get useful information out - we're almost there
def get_membership_date(string):
    split_str = string.split('since')[1]
    return split_str

#test our function:
print(get_membership_date([x.text for x in member_since][0]))

# ok the function looks good, let's put it into our

In [ ]:
def get_join_date(player_soup):
    member_since = player_soup.select('.thin:nth-child(1)')
    
    return get_membership_date([x.text for x in member_since][0])

### Get Time Spent Online

In [ ]:
def get_time_spent_online(player_soup):

    time_spent = player_soup.select('p:nth-child(4)')
    
    time_spent = [x.text for x in time_spent]
    
    return time_spent

In [ ]:
get_time_spent_online(player_soup)

### Get # followers

In [ ]:
def get_num_followers(player_soup):
    num_followers = player_soup.select('.user-show__social .nm-item:nth-child(1)')
    
    num_followers = [x.text for x in num_followers]
    
    num_followers = num_followers[0].split('f')[0]
    
    num_followers = num_followers.replace(',','')
    
    num_followers = int(num_followers)
    
    return num_followers

In [ ]:
get_num_followers(player_soup)

### Get bio - NOT DONE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [ ]:
def get_bio(player_soup):
    
    bio = player_soup.select('.bio')
    
    print(bio)

In [ ]:
get_bio(player_soup)

In [ ]:
mik_url = "https://lichess.org/@/" + 'mgaster'
print(mik_url)

mik_response = requests.get(mik_url)

mik_soup = BeautifulSoup(mik_response.text, 'html.parser')

In [ ]:
player_soup.select('.patron')

In [ ]:
mik_soup.select('.patron')

# MAYBE TRY XPATH HERE?